<ul id="summary-cart">
  <li>
    <ul ng-repeat="item in $ctrl.items" class="fade">
      <li>
        <div class="card horizontal cart">
          <div class="card-stacked left-align">
            <div class="card-content row noPadding">
              <div class="col s3 m3">
                <img class="cardImage" ng-src="{{item.img}}">
              </div>
              <div class="col s8 m8 withoutSpace">
                <span>{{item.product}}  x <b>{{item.quantity}}</b></span><br />
                <span>Total: <b>{{(item.price * item.quantity) | currency:'$':0}}</b></span>
              </div>
              <div class="col s1 m1">
                  <a class="cursor" ng-click="$ctrl.DropCartItem(item)"><i class="material-icons">clear</i></a>
                </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </li>
  <li ng-if="$ctrl.items.length == 0">
    <h3>
        Tu carrito está vacío! <br/> Agrega un articulo.
    </h3>
  </li>
</ul>