.btnAddCar {
  margin-bottom: 6%;
  margin-right: -27%;
}
div.filterPane {
  display: block !important;
  position: absolute;
}

div.summaryCart > span{
  vertical-align: top;
}

img.cardImage {
  width: 80% !important;

}

.withoutSpace {
  line-height: 1;
}

.noPadding {
  margin: 0;
  padding: 1% 11%;
}

.cursor {
  cursor: pointer;
}
/*Animations*/
.fade {
  height: 100%;
  opacity: 1;
}

  .fade.ng-enter,
  .fade.ng-leave {
      -webkit-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
  }

  .fade.ng-enter {
      opacity: 0;
  }

  .fade.ng-enter-active {
      opacity: 1;
  }

  .fade.ng-leave {
      opacity: 1;
  }

  .fade.ng-leave-active {
      opacity: 0;
  }